<div class="center">
  <ul class="wrapper">
    <% @courts.each do |court| %>
      <a href="/courts/<%= court.id %>">
        <div class="card-panel hoverable">
          <div class="container">
            <%= court.name %>
          </div>
          <div class="image">
            <%= image_tag court.court_photo.url.to_s %>
          </div>
        </div>
      </a>
    <% end %>
  </ul>

</div>
