/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.app-intro {
  background: url("izuddin-helmi-adnan-UQpTP-KqYRk-unsplash.jpeg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #FCB600;

  grid-template-rows: 100px 100px  100px;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 5px;
}

.card-panel.hoverable {
  height: 198.89px;
  min-width: 200px;
  margin: 5px;
  border-radius: 15px;
  transition: 1s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-panel.hoverable:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: .5s ease;
}

.container {
  display: block;
  text-align: center;
  font-size: 17px;
}

.court-form {
  font-weight: bold;
}

.court-name {
  text-align: center;
  font-weight: bold;
}
